name: deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  deploy:

    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      - name: deploy
        env:
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          USER_NAME: ${{ secrets.USER_NAME }}
          HOST_NAME: ${{ secrets.HOST_NAME }}
        run: |
          echo "$PRIVATE_KEY" > private_key
          chmod 600 private_key
          # ssh -i private_key ${EC2_USER}@${EC2_HOST} -o StrictHostKeyChecking=no "git pull origin master"
